<div class="row header-row justify-content-center">
    <h1 class="page-title "> Employee Panel </h1>
</div>
<div class="row justify-content-end"><button mat-raised-button class="logoutbutton" (click)="loginRedirect()">Logout <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon></button></div>
<div class="login" id="contentPanel">
    <button mat-raised-button color="primary">Send Request </button><br/><br/>
    <button mat-raised-button color="primary">Update Order Status</button><br/><br/>
    <button mat-raised-button color="primary">Unlock Users</button><br/><br/>
    <button mat-raised-button color="primary">Edit Profile </button><br/><br/>
</div>