<!--<div>
    <h2>Edit User Profile</h2>
    <form #updateProfile="ngForm" (ngSubmit)="changePassword(updateProfile.value)">
        <mat-form-field>
            <mat-label>Enter Current Password</mat-label>
            <input matInput name="currentPass" type="password" ngModel placeholder="Enter your current password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter New Password</mat-label>
            <input matInput name="updatedPass" type="password" ngModel placeholder="Enter your new password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Re-enter New Password</mat-label>
            <input matInput name="updatedPass2" type="password" ngModel placeholder="Re-enter your new password" required>
        </mat-form-field>
            <button mat-raised-button color="primary">Submit</button><br/>
            <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
    </form>
</div>-->
