.header1{
    background-image:url('../../assets/images/Background1.jpg');
    height:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    background-size: rgba(0,0,0,0.5);
    text-align: center;
    color:white;
    padding: 85px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: system-ui;
    letter-spacing: 20px;
}
table {
    width: 100%;
    font-family: system-ui;
}