<div>
    <h2>Update Order Status</h2>
    <form #updateOrder="ngForm" (ngSubmit)="updateOrderStatus(updateOrder.value)">
        <mat-form-field appearance="standard">
            <mat-label>Customer Order ID</mat-label>
            <input matInput name="orderId" ngModel placeholder="Enter Customer Order ID">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Order Status</mat-label>
            <select matNativeControl id="orderStatus">
                <option value="shipped" ngModel>Shipped</option>
                <option value="delivering" ngModel>Out for Delivery</option>
                <option value="delivered" ngModel>Delivered</option>
                <option value="cancelled" ngModel>cancelled</option>
            </select>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Reason for order cancellation (if applicable)</mat-label>
            <textarea matInput name="cancellationMsg" ngModel placeholder="Please give a short description of why this order was cancelled."></textarea>
        </mat-form-field>
        <br/>
            <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    {{updateMsg}}
</div>
