<div class="justify-content-center">
	<mat-card>
		<mat-card-title>Add Products</mat-card-title>
		<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
			<mat-form-field>
				<mat-label>Product Name</mat-label>
				<input matInput type="text" formControlName="name">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Price</mat-label>
				<input matInput type="text" formControlName="price">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Quantity</mat-label>
				<input matInput type="text" formControlName="quantity">
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Submit</button>
		</form>

	</mat-card>

</div>