<!--HTML Table that populates from DB showing all the locked users Need ID and Reason for lock-->
<div>
    <table border="1">
            <tr>
                <th>User ID</th>
                <th>Reason for lockout</th>
            </tr>
            <tr *ngFor="let user of users">
                    <td>{{user._id}}</td>
                    <td>{{user.lockOutMsg}}</td>
            </tr>
    </table>
</div>

<!--Form that allows the user to enter userIds to unlock user-->
<div>
    <form #unlockUser="ngForm" (ngSubmit)="unlockUser(userId)">
        <mat-form-field>
            <mat-label>Enter the User Id of the account to be unlocked</mat-label>
            <input matInput name="userId" [(ngModel)]="userId" placeholder="Enter User Id">
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div>
