<div>
    <h2>Restock Requests</h2>
    <form #restockRequest="ngForm" (ngSubmit)="sendRequest(restockRequest.value)">
        <mat-form-field>
            <mat-label>Product ID</mat-label>
            <input matInput name="pId" ngModel placeholder="Enter Product ID">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>User ID</mat-label>
            <input matInput name="userId" ngModel placeholder="Enter User ID">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Please give a short description of what you need done</mat-label>
            <textarea matInput name="msg" ngModel></textarea>
        </mat-form-field>
        <br/>
            <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    {{updateMsg}}
</div>