<div class="container justify-content-center">
	<section class="headerContainer">
		<h1>Welcome to Grocer App!</h1>
		<h2>Select your role</h2>
	</section>

	<div class="flexContainer">
		<mat-card routerLink="admin">
			<mat-card-content>
				<mat-card-title>Admin</mat-card-title>
			</mat-card-content>
		</mat-card>

		<mat-card routerLink="user">
			<mat-card-content>
				<mat-card-title>User</mat-card-title>
			</mat-card-content>
		</mat-card>

		<mat-card routerLink="employee">
			<mat-card-content>
				<mat-card-title>Employee</mat-card-title>
			</mat-card-content>
		</mat-card>
	</div>

</div>