<div class="header1">
    <div class="title">
        Groceries
    </div>
</div>
<div style="color:black; font-size: 75px;" class="title" >
    Fruits
</div>
<button mat-button style="margin-left:auto; margin-right:auto; display: block;" type="submit" routerLink="/user/browseShop/myCart">My Cart <mat-icon aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon></button>
<form #apple="ngForm"(ngSubmit)="addToList(apple.value, apple)">
    <div class="groceryItem">
        Apple
        <br/><br/>
        <p style="font-size: 20px">Price: $1.32/each</p>
        <img src="../../assets/images/Apple.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="apple" name="apple"><br>
        <button mat-button type="submit" >Add To Cart</button>
    </div>
</form>
<form #orange="ngForm"(ngSubmit)="addToList(orange.value, orange)">
    <div class="groceryItem">
        Orange
        <br/><br/>
        <p style="font-size: 20px">Price: $1.33/each</p>
        <img src="../../assets/images/Orange.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="orange" name="orange"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #banana="ngForm"(ngSubmit)="addToList(banana.value, banana)">
    <div class="groceryItem">
        Banana
        <br/><br/>
        <p style="font-size: 20px">Price: $0.32/each</p>
        <img src="../../assets/images/Banana.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="banana" name="banana"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #pear="ngForm"(ngSubmit)="addToList(pear.value, pear)">
    <div class="groceryItem">
        Pear
        <br/><br/>
        <p style="font-size: 20px">Price: $0.94/each</p>
        <img src="../../assets/images/Pear.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="pear" name="pear"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #pineapple="ngForm"(ngSubmit)="addToList(pineapple.value, pineapple)">
    <div class="groceryItem">
        Pineapple
        <br/><br/>
        <p style="font-size: 20px">Price: $3.50/each</p>
        <img src="../../assets/images/Pineapple.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="pineapple" name="pineapple"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #strawberry="ngForm"(ngSubmit)="addToList(strawberry.value, strawberry)">
    <div class="groceryItem">
        Strawberry
        <br/><br/>
        <p style="font-size: 20px">Price: $3.33/Carton</p>
        <img src="../../assets/images/Strawberry.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="strawberry" name="strawberry"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #blueberry="ngForm"(ngSubmit)="addToList(blueberry.value, blueberry)">
    <div class="groceryItem">
        Blueberry
        <br/><br/>
        <p style="font-size: 20px">Price: $3.33/Carton</p>
        <img src="../../assets/images/Blueberry.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="blueberry" name="blueberry"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #watermelon="ngForm"(ngSubmit)="addToList(watermelon.value, watermelon)">
    <div class="groceryItem">
        Watermelon
        <br/><br/>
        <p style="font-size: 20px">Price: $3.99/each</p>
        <img src="../../assets/images/Watermelon.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="watermelon" name="watermelon"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>

<div style="color:black; font-size: 75px; padding-top: 1000px;" class="title" >
    Vegetables
</div>
<form #kale="ngForm"(ngSubmit)="addToList(kale.value, kale)">
    <div class="groceryItem">
        Kale
        <br/><br/>
        <p style="font-size: 20px">Price: $2.49/each</p>
        <img src="../../assets/images/Kale.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="kale" name="kale"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #broccoli="ngForm"(ngSubmit)="addToList(broccoli.value, broccoli)">
    <div class="groceryItem">
        Broccoli
        <br/><br/>
        <p style="font-size: 20px">Price: $2.24/each</p>
        <img src="../../assets/images/Broccoli.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="broccoli" name="broccoli"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #tomato="ngForm"(ngSubmit)="addToList(tomato.value, tomato)">
    <div class="groceryItem">
        Tomatoes
        <br/><br/>
        <p style="font-size: 20px">Price: $1.00/each</p>
        <img src="../../assets/images/Tomato.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="tomato" name="tomato"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #onion="ngForm"(ngSubmit)="addToList(onion.value, onion)">
    <div class="groceryItem">
        Onions
        <br/><br/>
        <p style="font-size: 20px">Price: $1.12/each</p>
        <img src="../../assets/images/Onion.jpg" class="center">
        <label style="font-size:20px">Quantity  </label>
        <input type="number" ngModel id="onion" name="onion"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #celery="ngForm"(ngSubmit)="addToList(celery.value, celery)">
    <div class="groceryItem">
        Celery
        <br/><br/>
        <p style="font-size: 20px">Price: $2.29/each</p>
        <img src="../../assets/images/Celery.jpg" class="center">
        <label style="font-size:20px">Quantity</label>
        <input type="number" ngModel id="celery" name="celery"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #carrot="ngForm"(ngSubmit)="addToList(carrot.value, carrot)">
    <div class="groceryItem">
        Carrots
        <br/><br/>
        <p style="font-size: 20px">Price: $0.16/each</p>
        <img src="../../assets/images/Carrot.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="carrots" name="carrot"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #squash="ngForm"(ngSubmit)="addToList(squash.value, squash)">
    <div class="groceryItem">
        Squash
        <br/><br/>
        <p style="font-size: 20px">Price: $1.20/each</p>
        <img src="../../assets/images/Squash.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="squash" name="squash"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
<form #cauliflower="ngForm"(ngSubmit)="addToList(cauliflower.value, cauliflower)">
    <div class="groceryItem">
        Cauliflower
        <br/><br/>
        <p style="font-size: 20px">Price: $2.75/each</p>
        <img src="../../assets/images/Cauliflower.jpg" class="center">
        <label style="font-size:20px; padding-right: 20px;">Quantity</label>
        <input type="number" ngModel id="cauliflower" name="cauliflower"><br>
        <button mat-button type="submit">Add To Cart</button>
    </div>
</form>
