<div class="header1">
    <div class="title">
        Groceries
    </div>
</div>
<div style="color:black; font-size: 75px;" class="title" >
    Fruits
</div>
<button mat-button style="margin-left:auto; margin-right:auto; display: block;" type="submit" routerLink="/user/browseShop/myCart">My Cart <mat-icon aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon></button>
<div *ngFor="let product of products">
    <form #amount="ngForm"(ngSubmit)="addToList(amount.value, amount, product.name)">
        <div class="groceryItem">
            {{product.name}}
            <br/><br/>
            <p style="font-size: 20px">Price: ${{product.price}}</p>
            <label style="font-size:20px; padding-right: 20px;">Quantity</label>
            <input type="number" ngModel name="quantity"><br>
            <button mat-button type="submit" >Add To Cart</button>
        </div>
    </form>
</div>
