<div class="header1">
    <div class="title">
        Groceries
    </div>
</div>

<div style="color:black; font-size: 75px;" class="title" >
    Fruits
</div>
<div class="groceryItem">
    Apple
    <p style="font-size: 20px">Price: $1.32/lb</p>
    <img src="../../assets/images/Apple.jpg" class="center">
    <label for="numApples" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="apples" name="numApples"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Orange
    <p style="font-size: 20px">Price: $1.33/lb</p>
    <img src="../../assets/images/Orange.jpg" class="center">
    <label for="numOranges" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="oranges" name="numOranges"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Banana
    <p style="font-size: 20px">Price: $0.32/each</p>
    <img src="../../assets/images/Banana.jpg" class="center">
    <label for="numBananas" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="bananas" name="numBananas"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Pear
    <p style="font-size: 20px">Price: $0.94/each</p>
    <img src="../../assets/images/Pear.jpg" class="center">
    <label for="numPears" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="pears" name="numPears"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Pineapple
    <p style="font-size: 20px">Price: $3.50/each</p>
    <img src="../../assets/images/Pineapple.jpg" class="center">
    <label for="numPineapples" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="pineapples" name="numPineapples"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Strawberry
    <p style="font-size: 20px">Price: $3.33/Carton</p>
    <img src="../../assets/images/Strawberry.jpg" class="center">
    <label for="numStrawberries" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="strawberries" name="numStrawberries"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Blueberry
    <p style="font-size: 20px">Price: $3.33/Carton</p>
    <img src="../../assets/images/Blueberry.jpg" class="center">
    <label for="numBlueberries" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="blueberries" name="numBlueberries"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Watermelon
    <p style="font-size: 20px">Price: $3.99/each</p>
    <img src="../../assets/images/Watermelon.jpg" class="center">
    <label for="numWatermelons" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="watermelons" name="numWatermelons"><br>
    <input type="submit" value="Add To Cart">
</div>


<div style="color:black; font-size: 75px; padding-top: 1000px;" class="title" >
    Vegetables
</div>
<div class="groceryItem">
    Kale
    <p style="font-size: 20px">Price: $2.49/bunch</p>
    <img src="../../assets/images/Kale.jpg" class="center">
    <label for="numKale" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="kale" name="numKale"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Broccoli
    <p style="font-size: 20px">Price: $2.24/each</p>
    <img src="../../assets/images/Broccoli.jpg" class="center">
    <label for="numBroccoli" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="broccoli" name="numBroccoli"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Tomatoes
    <p style="font-size: 20px">Price: $1.00/each</p>
    <img src="../../assets/images/Tomato.jpg" class="center">
    <label for="numTomatoes" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="tomatoes" name="numTomatoes"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Onions
    <p style="font-size: 20px">Price: $1.12/each</p>
    <img src="../../assets/images/Onion.jpg" class="center">
    <label for="numOnions" style="font-size:20px">Quantity  </label>
    <input type="number" id="onions" name="numOnions"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Celery
    <p style="font-size: 20px">Price: $2.29/each</p>
    <img src="../../assets/images/Celery.jpg" class="center">
    <label for="numCelery" style="font-size:20px">Quantity</label>
    <input type="number" id="celery" name="numCelery"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Carrots
    <p style="font-size: 20px">Price: $0.16/each</p>
    <img src="../../assets/images/Carrot.jpg" class="center">
    <label for="numCarrots" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="carrots" name="numCarrots"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Squash
    <p style="font-size: 20px">Price: $1.20/each</p>
    <img src="../../assets/images/Squash.jpg" class="center">
    <label for="numSquash" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="squash" name="numSquash"><br>
    <input type="submit" value="Add To Cart">
</div>
<div class="groceryItem">
    Cauliflower
    <p style="font-size: 20px">Price: $2.75/each</p>
    <img src="../../assets/images/Cauliflower.jpg" class="center">
    <label for="numCauliflower" style="font-size:20px; padding-right: 20px;">Quantity</label>
    <input type="number" id="cauliflower" name="numCauliflower"><br>
    <input type="submit" value="Add To Cart">
</div>  